body {
    font-family: Arial, sans-serif;
    background: #73C8D2;
    margin: 0;
    padding: 20px;
  }

   header {
    text-align: center;
    margin-bottom: 30px;
  }

.registration {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

   form {
    max-width: 350px;      /* makes form nicely centered and neat */
    margin: auto;
    display: grid;
    gap: 15px;
   }

   label {
    font-weight: bold;

  }

  input[type="text"]
  input[type="password"]
   {
    width: 100%;
    padding: 6px;          /* shorter height */
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  button {
    width: 100%;
    background-color: #CD2C58;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px; 
  } 

  button:hover {
    background-color: #0056b3;
  }

