body {
    font-family: Arial, sans-serif;
    background: #73C8D2;
    margin: 0;
    padding: 20px;
  }

   header {
    text-align: center;
    margin-bottom: 30px;
  }

.registration {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

   form {
    display: grid;
    gap: 12px;
    margin-bottom: 50px;
   }

   label {
    font-weight: bold;

  }

  input[type="text"]
  input[type="password"]
   {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  button {
    background-color: #CD2C58;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px; 
  } 

  button:hover {
    background-color: #0056b3;
  }